@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><q>Many of life's failures are people who did not realize how close they were to success when they gave up</q></p>
</div>
